@model OneTrip3G.Models.CreateUser

@{
    ViewBag.Title = "注册";
}

@section sitemap {
    <a href="@Url.Action("Index")" title="用户">用户</a> <span class="line">➔</span> <span
        class="current_action">新增</span>
}
@section sidebar {
    @RenderPage("~/Areas/Admin/Views/Users/_Sidebar.cshtml")
}
@using (Html.BeginForm("Register", "Users", FormMethod.Post))
{
    <div class="container form-body">
        <h3>信息</h3>
        <div class="editor-label">
            @Html.LabelFor(m => m.UserName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.UserName, new { @class = "w-200" })
            @Html.HintFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.Password, new { @class = "w-200" })
            @Html.HintFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "w-200" })
            @Html.HintFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        <h3>操作</h3>
        <div class="buttons wrap">
            <input class="button btn-control" name="commit" type="submit" value="注册" />
            <a href="@Url.Action("Index")" class="canel btn-control">取消</a>
        </div>
    </div>
}