@model OneTrip3G.Models.LoginUser
@{
    ViewBag.Title = "后台登录";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section styles {
    @{
        Html.RequiresCss("login.css", "AdminCSS", 11);
    }
}
@section Scripts{
<script type="text/javascript">
    $(function () {    
        $("#valiCode").bind("click", function () {    
            this.src = "@Url.Action("GetValidateCode")";    
        });
    });
 </script>
}
@section sitemap {
    <span class="current_action">登录</span>
}
<div class="login-box">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(false)
        <div class="inner-field">
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName, new { @placeholder = "用户名" })
            </div>
        </div>
        <div class="inner-field">
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password, new { @placeholder = "密码" })
            </div>
        </div>
        <div class="inner-valiCode">
            <div class="editor-valiCode">
                @Html.TextBoxFor(m => m.Captcha, new { @placeholder = "验证码" })
                <img id="valiCode" style="cursor: pointer;" src = "@Url.Action("GetValidateCode")" alt="验证码" /> 
            </div>
        </div>
        <div class="inner-field">
            <div class="remember-me clearfix">
                @Html.LabelFor(m => m.RememberMe)
                @Html.CheckBoxFor(m => m.RememberMe)
            </div>
        </div>
        <div class="button-box">
            <input class="button" name="commit" type="submit" value="登录" />
        </div>
    }
    <hr />
</div>