@model OneTrip3G.Models.LoginUser
@{
    ViewBag.Title = "后台登录";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section styles {
    @{
        Html.RequiresCss("login.css", "AdminCSS", 11);
    }
}
@section sitemap {
    <span class="current_action">登录</span>
}
<div class="login-box">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(false)
        <div class="inner-field">
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName, new { @placeholder = "用户名" })
            </div>
        </div>
        <div class="inner-field">
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password, new { @placeholder = "密码" })
            </div>
        </div>
        <div class="inner-field">
            <div class="remember-me clearfix">
                @Html.LabelFor(m => m.RememberMe)
                @Html.CheckBoxFor(m => m.RememberMe)
            </div>
        </div>
        <div class="button-box">
            <input class="button" name="commit" type="submit" value="登录" />
        </div>
    }
    <hr />
</div>